clock-calendar {
    display: block;

    text-align: center;
    line-height: 50px;
    font-size: 25px;
    background-color: #cfcfcf;
    border-radius: 5px;
    width: 110px;
    min-height: 50px;
    }